<div class="level">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card">
        <div class="card-image">
          <figure class="image displaybox">
            <%= image_tag @clothes.image %>
          </figure>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <% if @cart.include?(@clothes) %>
        <p>Product is in your cart. </p>
      <% else%>
        <p><%= link_to 'add to cart', add_to_cart_path(@clothes.id), method: :post %></p>
      <% end %>

      <h1 class="title is-3"><%= @clothes.name %></h1>
      <h2 class="subtitle is-5"><%= @clothes.brand %></h2>
      <strong>Price: <%= number_to_currency @clothes.price/1.0 %></strong>
    </div>
  </div>

</div>
