<div class="level">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card">
        <div class="card-image">
          <figure class="image displaybox">
            <%= image_tag @clothes.image %>
          </figure>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
        <%= form_for @order_item do |f| %>
          <%= f.hidden_field :clothing_id, :value => @clothes.id %>
          <%= f.number_field :quantity, :value => 1, :min => 1 %>
          <%= f.hidden_field :unit_price, :value => @clothes.price %>
          <%= f.submit "Add to Cart" %>

        <% end %>
      <h1 class="title is-3"><%= @clothes.name %></h1>
      <h2 class="subtitle is-5"><%= @clothes.brand %></h2>
      <strong><%= @clothes.price %></strong>
    </div>
  </div>

</div>
